In [2]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [3]:
x = np.array(np.ones(8))
x

array([1., 1., 1., 1., 1., 1., 1., 1.])

## Q#2: Create y array with elements equal to 0.

In [4]:
y = np.array(np.zeros(8))
y

array([0., 0., 0., 0., 0., 0., 0., 0.])

## Q#3: Add x and y arrays.

In [5]:
z = x + y
z

array([1., 1., 1., 1., 1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type)

In [8]:
print('shape of x: ',x.shape)
print('type of x elements: ',x.dtype)
print('size of x: ',x.size)
print('dimension of x: ',x.ndim)

shape of x:  (8,)
type of x elements:  float64
size of x:  8
dimension of x:  1

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [14]:
w = np.array([[11,12],[13,14],[15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [15]:
z = np.arange(1,4)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in vertical way then save it in a new variable "newArray".

In [21]:
newArray = np.column_stack((z,w))
newArray

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [24]:
for row in newArray:
    for item in row:
        print(item)

1
11
12
2
13
14
3
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [25]:
newArray = newArray.transpose()

In [26]:
newArray

array([[ 1,  2,  3],
       [11, 13, 15],
       [12, 14, 16]])

## Q#10: Decrement all elements of "newArray" with 1.

In [27]:
newArray -= 1
newArray

array([[ 0,  1,  2],
       [10, 12, 14],
       [11, 13, 15]])

## Q#11: Find smallest and biggest values in "newArray".

In [31]:
print('The smallest value: ', newArray.min())
print('The biggest value: ', newArray.max())

The smallest value:  0
The biggest value:  15

## Q#12: Print the first row of "newArray" using indexing.

In [33]:
newArray[0]

array([0, 1, 2])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [34]:
newArray[1][1]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using Slicing.

In [36]:
print(newArray[:1, :1])
print(newArray[2:, 1:2])

[[0]]
[[13]]

## Q#15: Change the shape of "newArray" to (9,1).

In [37]:
newArray = newArray.reshape(9,1)
newArray

array([[ 0],
       [ 1],
       [ 2],
       [10],
       [12],
       [14],
       [11],
       [13],
       [15]])

## Q#16: Change the shape of "newArray" to (3,2).

In [39]:
# Cannot change the shape as we have different sizes
newArray = newArray.reshape(3,2)

ValueError: cannot reshape array of size 9 into shape (3,2)

# Well Done 🎉