In [68]:
import numpy as np

#1
x=np.full((3,3), 1)
x

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [69]:
#2
y = np.full((3,3), 0)
y

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [70]:
#3
b = np.add(x,y)
b

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [71]:
#4
print(x.ndim)
print(x.shape)
print(x.size)
print(x.dtype)

2
(3, 3)
9
int64

In [72]:
#5
w=np.array([[11,12],[13, 14],[15, 16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

In [73]:
#6
z= np.arange(1,4)
z

array([1, 2, 3])

## Q#2: Create y array with elements equal to 0.

In [74]:
#7

newArray = np.column_stack((w, z))
newArray

array([[11, 12,  1],
       [13, 14,  2],
       [15, 16,  3]])

In [75]:
#8
for item in newArray:
    for x in item:
        print(x)

11
12
1
13
14
2
15
16
3

In [84]:
#9
newArray = np.transpose(newArray)
newArray

array([[10, 11,  0],
       [12, 13,  1],
       [14, 15,  2]])

In [85]:
#10
newArray = newArray-1
newArray

array([[ 9, 10, -1],
       [11, 12,  0],
       [13, 14,  1]])

In [78]:
#11
print(newArray.min())
print(newArray.max())

1
16

In [79]:
#12
newArray[0]

array([11, 12,  1])

In [120]:
#13
#b=np.equal(newArray, 12)
#print(newArray[b])
print(newArray[1,1])

[12]
12

In [119]:
#14
print(newArray[2 , 0:1])
print(newArray[1 , 2:3])

[13]
[0]

In [121]:
#15
newArray.reshape(9,1)

array([[ 9],
       [10],
       [-1],
       [11],
       [12],
       [ 0],
       [13],
       [14],
       [ 1]])

In [123]:
#16
#there is no answer

## Q#3: Add x and y arrays.

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type)

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

## Q#6: Create z array contains the numbers from 1 to 3.

## Q#7: Combine the arrays z and w in vertical way then save it in a new variable "newArray".

## Q#8: Print all elements of "newArray" using the loop.

## Q#9: Reverse the columns and rows of "newArray".

## Q#10: Decrement all elements of "newArray" with 1.

## Q#11: Find smallest and biggest values in "newArray".

## Q#12: Print the first row of "newArray" using indexing.

## Q#13: Print the number equals 12 of "newArray" using indexing.

## Q#14: Print the numbers equal 0 and 13 of "newArray" using Slicing.

## Q#15: Change the shape of "newArray" to (9,1).

## Q#16: Change the shape of "newArray" to (3,2).

# Well Done ðŸŽ‰