In [3]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [7]:
x = np.zeros((3,3))
x

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

## Q#2: Create y array with elements equal to 0.

In [8]:
y = np.ones((3,3))
y

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## Q#3: Add x and y arrays.

In [34]:
np.add(x,y)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type)

In [16]:
x.shape

(3, 3)

In [18]:
x.size

9

In [21]:
x.ndim

2

In [22]:
x.dtype

dtype('float64')

## Q#5: Create a 2D array "called w" as the following:

In [77]:
w = np.array([[11,12],[13,14],[15,16]])
w

array([[11, 12],
       [13, 14],
       [15, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [25]:
z = np.array([1,2,3])
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in vertical way then save it in a new variable "newArray".

In [78]:
newArray = np.column_stack((z,w))
newArray

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [83]:
for item in newArray:
    print(item)

[ 1 11 12]
[ 2 13 14]
[ 3 15 16]

## Q#9: Reverse the columns and rows of "newArray".

In [84]:
newArray = newArray.transpose()
newArray

array([[ 1,  2,  3],
       [11, 13, 15],
       [12, 14, 16]])

## Q#10: Decrement all elements of "newArray" with 1.

In [85]:
newArray -= 1
newArray

array([[ 0,  1,  2],
       [10, 12, 14],
       [11, 13, 15]])

## Q#11: Find smallest and biggest values in "newArray".

In [89]:
newArray.min()

0

In [90]:
newArray.max()

15

## Q#12: Print the first row of "newArray" using indexing.

In [93]:
newArray[0]

array([0, 1, 2])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [94]:
newArray[1][1]

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using Slicing.

In [95]:
print(newArray[:1, :1])
print(newArray[2:, 1:2])

[[0]]
[[13]]

## Q#15: Change the shape of "newArray" to (9,1).

In [96]:
newArray = newArray.reshape(9,1)
newArray

array([[ 0],
       [ 1],
       [ 2],
       [10],
       [12],
       [14],
       [11],
       [13],
       [15]])

## Q#16: Change the shape of "newArray" to (3,2).

In [97]:
newArray = newArray.reshape(3,2)

ValueError: cannot reshape array of size 9 into shape (3,2)

# Well Done ðŸŽ‰